<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinFormsApp6.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WinFormsApp6.My.MySettings>
            <setting name="test1" serializeAs="String">
                <value />
            </setting>
            <setting name="test2" serializeAs="String">
                <value>False</value>
            </setting>
        </WinFormsApp6.My.MySettings>
    </userSettings>
</configuration>
